//Float from
$gridi-helpers-float-screens-support-generate-from-classes: true !default;
$gridi-helpers-float-screens-support-from-classes-skip-screens: null !default;
//Float to
$gridi-helpers-float-screens-support-generate-to-classes: true !default;
$gridi-helpers-float-screens-support-to-classes-skip-screens: null !default;
//Float only
$gridi-helpers-float-screens-support-generate-only-classes: true !default;
$gridi-helpers-float-screens-support-only-classes-skip-screens: null !default;
